* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}
button:hover {
    opacity: 0.7;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 30px;
    
}
#rock{
    background-color: blue;
    
}
#paper{
    background-color: green;
    
}
#scissors{
    background-color: yellow;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span{
    color: rgb(98, 98, 228)
}

.machine-score span{
    color: rgb(255, 94, 94)
}